*{
    margin: 0%;
    padding: 0%;
}
.main{
    min-height: 93vh;
}
.home{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),url("https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.card{
    min-height: 70vh;
}

